* {
  margin: 2px;
  color: black;
}

.feed-gallery {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  scroll-behavior: smooth;
  overflow: auto;
  height: 500px;
  max-width: 400px;
  margin: 5%;
  margin-top: 12%;
  border: 2px solid black;
}

.card {
  height: 420px;
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  margin-bottom: 10px;
  background-image: url("https://i.imgur.com/Up5RPJj.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.centered {
  text-align: center;
  justify-content: center;
}

.haiku-title {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}

.user-name-card {
  font-weight: bold;
}

.card-text {
  font-size: 16pt;
  color: rgb(0, 0, 0);
}

.user-name-card-details {
  font-size: medium;
}

.date {
  color: black;
  font-size: 14pt;
}

.header-el {
  width: 100%;
  z-index: 1;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  height: 60px;

  background-color: rgba(255, 255, 255, 0.8);
}

.white-back {
  background-color: rgba(255, 255, 255, 0.8);
}

.header-clearance {
  margin-top: 10%;
}
.large-font-size {
  font-size: 30pt;
}

.medium-font-size {
  font-size: 24pt;
}

.nav-title {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.title {
  color: black;
  align-items: center;
  justify-content: center;
}

.title:hover {
  color: black;
  text-decoration: underline;
}

.bio {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px black solid;
  border-radius: 5px;
}

.sub-header {
  max-width: 250px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.instructions {
  padding: 5px;
  padding-left: 15px;
  width: 250px;
  border: 2px black solid;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  animation: moveInRight 2s ease-out;
}

.login-title {
  padding: 0 40px;
  border: 2px solid black;
  border-radius: 5px;
  max-width: fit-content;
  color: black;
}

.login-title:hover {
  zoom: 1.1;
  color: black;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media only screen and (max-width: 600px) {
  body {
    zoom: 0.8;
  }
  .FAQ-menu {
    max-width: 340px;
    margin-left: 10px;
  }
  .profile-bio {
    max-width: 80%;
  }
  .feed-gallery {
    max-width: 80%;
  }
  .header-el {
    zoom: 1.1;
    height: 60px;
  }
}
