* {
  margin: 2px 10px;
}

.feed-gallery {
  background-color: rgba(213, 204, 204, 0.5);
  border-radius: 3px;
  scroll-behavior: smooth;
  overflow: auto;
  height: 500px;
  max-width: 400px;
  margin: 5%;
}

.card {
  height: 400px;
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  margin-bottom: 10px;
}

.centered { 
  text-align: center;
}

.haiku-title {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}

.user-name-card {
  font-weight: bold;
}

.card-text {
  font-size: 16pt;
  color: rgb(0, 0, 0);
}

.details-card {
  font-size: 30pt;
  scroll-behavior: auto;
  overflow: visible;
}

.user-name-card-details {
  font-size: medium;
}

.date {
  color: black;
  font-size: 14pt;
}