* {
  margin: 0px 10px;
  color: grey;
}

.feed-gallery {
  background-color: rgba(117, 114, 114, 0.5);
  border-radius: 3px;
  scroll-behavior: smooth;
  overflow: scroll;
  height: 500px;
}

.card {
  height: 250px;
}
